{% extends '_layout.html' %}
{% block body %}

<style>
    body {
background-color: #fbfbfb;
}
@media (min-width: 991.98px) {
main {
padding-left: 240px;
}
}

/* Sidebar */
.sidebar {
position: fixed;
top: 0;
bottom: 0;
left: 0;
padding: 58px 0 0; /* Height of navbar */
box-shadow: 0 2px 5px 0 rgb(0 0 0 / 5%), 0 2px 10px 0 rgb(0 0 0 / 5%);
width: 240px;
z-index: 600;
}

@media (max-width: 991.98px) {
.sidebar {
width: 100%;
}
}
.sidebar .active {
border-radius: 5px;
box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
}

.sidebar-sticky {
position: relative;
top: 0;
height: calc(100vh - 48px);
padding-top: 0.5rem;
overflow-x: hidden;
overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}
</style>
<style> 
    .scrollbar {
  margin-left: 30px;
  float: left;
  height: 700px;
  width: 940px;
  background: #fff;
  overflow-y: scroll;
  margin-bottom: 25px;
  }
  .force-overflow {
  min-height: 450px;
  }

  .scrollbar-primary::-webkit-scrollbar {
  width: 12px;
  background-color: #F5F5F5; }

  .scrollbar-primary::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: #4285F4; }

  .scrollbar-danger::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: #F5F5F5;
  border-radius: 10px; }

  .scrollbar-danger::-webkit-scrollbar {
  width: 12px;
  background-color: #F5F5F5; }

  .scrollbar-danger::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: #ff3547; }

  .scrollbar-warning::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: #F5F5F5;
  border-radius: 10px; }

  .scrollbar-warning::-webkit-scrollbar {
  width: 12px;
  background-color: #F5F5F5; }

  .scrollbar-warning::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: #FF8800; }

  .scrollbar-success::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: #F5F5F5;
  border-radius: 10px; }

  .scrollbar-success::-webkit-scrollbar {
  width: 12px;
  background-color: #F5F5F5; }

  .scrollbar-success::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: #00C851; }

  .scrollbar-info::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: #F5F5F5;
  border-radius: 10px; }

  .scrollbar-info::-webkit-scrollbar {
  width: 12px;
  background-color: #F5F5F5; }

  .scrollbar-info::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: #33b5e5; }

  .scrollbar-default::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: #F5F5F5;
  border-radius: 10px; }

  .scrollbar-default::-webkit-scrollbar {
  width: 12px;
  background-color: #F5F5F5; }

  .scrollbar-default::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: #2BBBAD; }

  .scrollbar-secondary::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: #F5F5F5;
  border-radius: 10px; }

  .scrollbar-secondary::-webkit-scrollbar {
  width: 12px;
  background-color: #F5F5F5; }

  .scrollbar-secondary::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: #aa66cc; }

  .gradient-custom-2 {
  /* fallback for old browsers */
  background: #fccb90;

  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(to right, #7580bb, rgba(240, 149, 128, 0.2), #dd3675, #b44593);

  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(to right, rgba(25, 95, 161, 0.2), #967aa3, #505583, #7e5973);
  }

  .tiledBackground {
      background-image: url(https://www.mozilla.org/media/img/logos/firefox/logo-quantum.9c5e96634f92.png);
      background-size: 150px;
      width: 300px;
      height: 300px;
      border: 2px solid;
      color: pink;
  }
</style>

<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.5.1/socket.io.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

<script>
    
    const socket = io.connect("http://127.0.0.1:5000/");

    socket.on('connect', function(){
        socket.emit('join_room', {
            username: "{{ username }}",
            room: "{{ room }}"
        });

        let message_input = document.getElementById('message_input')
        sender = document.querySelector('#sender').innerHTML 
        senderphoto = document.querySelector('#senderPhoto').innerHTML 
        console.log(sender)
        document.getElementById('message_input_form').onsubmit = function (e){
            e.preventDefault();
            let message = message_input.value.trim();
            //checks if the messge being sent is greater than 0
            if(message.length){
                socket.emit('send_message', {
                    username: "{{ username }}",
                    room: "{{ room }}",
                    message: message
                })
            }
            message_input.value = '';
            message_input.focus();
        }
    });


    socket.on('receive_message', function(data) {
        console.log(data.username);
        
        // li.className = 'p-2 border-bottom'
        const newNode = document.createElement('div');
        const div = document.createElement('div')
        // senderSide = document.querySelector('#receiverSide').innerHTML
        // if(senderSide != null){
        //     console.log()
        //     console.log(senderSide)
        //     console.log('model ' + senderSide)
        //     if(data.username == senderSide){
        //         receiverSide = document.querySelector('#numberOfnotification').innerHTML
        //         document.querySelector('#numberOfnotification').innerHTML = receiverSide + 1
                
        //     }
        // }
        
        
        //senderUser = document.querySelector('#').innerHTML
        
            
            div.innerHTML = `
                        <div>
                            <li class="d-flex justify-content-between mb-4">
                                <div class="card mask-custom w-100">
                                  <div class="card-header d-flex justify-content-between p-3"
                                    style="border-bottom: 1px solid rgba(255,255,255,.3);">
                                    <p class="fw-bold mb-0">${sender}</p>
                                    <p class="text-light small mb-0"><i class="far fa-clock"></i> </p>
                                  </div>
                                  <div class="card-body">
                                    <p class="mb-0">
                                        ${data.message}
                                    </p>
                                  </div>
                                </div>
                                <img src="${senderphoto}" alt="avatar"
                                  class="rounded-circle d-flex align-self-start ms-3 shadow-1-strong" width="60">
                              </li>
                        </div>
                    `;
        
        

            // assuming elements contains string of html with your elements
            
        //newNode.innerHTML = `<b>${data.username}: &nbsp;</b> ${data.message}`;
        //$('.PostWrapper').append($('#mytemplate').html());
        //document.getElementById('messages').appendChild(newNode);
        document.getElementById('messages').appendChild(div);
    })
    //this gets the info from the input of the user 
    socket.on('', function(data){
        console.log(data);
        const newNode = document.createElement('div');
        newNode.innerHTML = `<b>${data.username}</b> has joined the room`;
        document.getElementById('messages').appendChild(newNode);
    })
</script>


    <!-- <h1> hello friend {{user}}</h1>
    
    <form action="/logout" method="post"> 

        
        <button type="submit">Logout</button>
        
    </form> -->

    <!--Main Navigation-->
    
      <!--Main Navigation-->

      <!--Main layout-->
      <!-- <main style="margin-top: 58px;">
        <div class="container pt-4"></div>
      </main> -->
      <!--Main layout-->
      <section class="gradient-custom">
        <div class="container py-5">
      
          <div class="row">
      
            <div class="col-md-6 col-lg-5 col-xl-5 mb-4 mb-md-0">
      
              <h5 class="font-weight-bold mb-3 text-center text-white">Member</h5>
      
              <div class="card mask-custom">
                <div class="card-body">
      
                  <ul class="list-unstyled mb-0">
                    {% for users in allUsers %}
                        <textarea style="display: none;" id="sender">{{user}}</textarea>
                        <textarea style="display: none;" id="receive">{{users.username}}</textarea>
                        <textarea style="display: none;" id="receivePhoto">{{users.profile_pic}}</textarea>
                        <textarea style="display: none;" id="senderPhoto">{{singleUser.profile_pic}}</textarea>
                        {% if singleUser.user_id > users.user_id %}
                        <div>
                            <li class="p-2 border-bottom" style="border-bottom: 1px solid rgba(255,255,255,.3) !important;">
                                
                                  <div class="d-flex flex-row">
                                    <a href="/gamer/{{users.username}}" class="d-flex justify-content-between link-light">
                                        <img src="{{users.profile_pic}}" alt="avatar"
                                        class="rounded-circle d-flex align-self-center me-3 shadow-1-strong" width="60">
                                    </a>
                                    <a href="/chat/{{users.user_id}}/{{user}}{{users.username}}" class="d-flex justify-content-between link-light">    
                                        <div class="pt-1">
                                            <p class="fw-bold mb-0">{{users.username}}</p>
                                            <p class="small text-white">Hello, Are you there?</p>
                                        
                                        </div>
                                    </a>
                                  </div>
                               
                                  <div class="pt-1">
                                    <p class="small text-white mb-1">Just now</p>
                                    <span class="badge bg-danger float-end">1</span>
                                  </div>
                                
                                
    
                                <form id="chatForm" action="/chat">
                                    <textarea style="display:none;"  name="username">{{users.user_id}}</textarea>
                                    <textarea  style="display:none;" name="room">{{user}}{{users.username}}</textarea>
                                    
                                        
                                </form>
                              </li>
                        </div>
                        
                        {%else%}
                        <div>

                        
                        <li class="p-2 border-bottom" style="border-bottom: 1px solid rgba(255,255,255,.3) !important;">
                            <div class="d-flex flex-row">
                                <a href="/gamer/{{users.username}}" class="d-flex justify-content-between link-light">
                                <img src="{{users.profile_pic}}" alt="avatar"
                                  class="rounded-circle d-flex align-self-center me-3 shadow-1-strong" width="60">
                                </a>
                                <a href="/chat/{{users.user_id}}/{{users.username}}{{user}}" class="d-flex justify-content-between link-light">

                                    <div class="pt-1">
                                        <p class="fw-bold mb-0">{{users.username}}</p>
                                        <p class="small text-white">Hello, Are you there?</p>
                                    </div>
                                </a>
                        </div>
                              <div class="pt-1">
                                <p class="small text-white mb-1">Just now</p>
                                <span class="badge bg-danger float-end">1</span>
                              </div>
                            
                            

                            <form id="chatForm" action="/chat">
                                <textarea style="display:none;"  name="username">{{users.user_id}}</textarea>
                                <textarea  style="display:none;" name="room">{{users.username}}{{user}}</textarea>
                                
                                    
                            </form>
                          </li>
                        </div>
                        {% endif %}
                    {% endfor %}

                    
                  </ul>
      
                </div>
              </div>
      
            </div>
      
            <div class="col-md-6 col-lg-7 col-xl-7">
      
              <ul class="list-unstyled text-white">
                <style>
                    .scroll-bar {
                      overflow:scroll;
                      height:700px;
                    }
                  </style>
                  
                                  <!-- Sidebar -->
                <div class="scroll-bar scrollbar-secondary" style="height: 800; overflow-x: hidden; overflow-y: auto;">
                <div id="messages">
                    <!-- if session_id is hit -->
                    {% for message in messages%}
                        {% if message.sender == user %}
                        <textarea id ='senderSide'style="display:none;"  name="sendleftSide">{{message.sender}}</textarea>
                        <textarea id ='receiverSide'style="display:none;"  name="sendleftSide">{{singleUser.user_id}}</textarea>
                        <div>
                            <li class="d-flex justify-content-between mb-4">
                                <div class="card mask-custom w-100">
                                  <div class="card-header d-flex justify-content-between p-3"
                                    style="border-bottom: 1px solid rgba(255,255,255,.3);">
                                    <p class="fw-bold mb-0">{{message.sender}}</p>
                                    <p class="text-light small mb-0"><i class="far fa-clock"></i> {{message.create_at}}</p>
                                  </div>
                                  <div class="card-body">
                                    <p class="mb-0">
                                        {{message.text}}
                                    </p>
                                  </div>
                                </div>
                                <img src="{{message.profile_pic}}" alt="avatar"
                                  class="rounded-circle d-flex align-self-start ms-3 shadow-1-strong" width="60">
                              </li>
                        </div>
                            
                        {%else%}
                        <textarea id ='senderSide'style="display:none;"  name="sendleftSide">{{message.sender}}</textarea>
                        <textarea id ='receiverSide'style="display:none;"  name="sendleftSide">{{singleUser.user_id}}</textarea>
                        <div>
                            <li class="d-flex justify-content-between mb-4">
                                <div class="card mask-custom w-100">
                                  <div class="card-header d-flex justify-content-between p-3"
                                    style="border-bottom: 1px solid rgba(255,255,255,.3);">
                                    <p class="fw-bold mb-0">{{message.sender}}</p>
                                    <p class="text-light small mb-0"><i class="far fa-clock"></i> {{message.create_at}}</p>
                                  </div>
                                  <div class="card-body">
                                    <p class="mb-0">
                                        {{message.text}}
                                    </p>
                                  </div>
                                </div>
                                <img src="{{message.profile_pic}}" alt="avatar"
                                  class="rounded-circle d-flex align-self-start ms-3 shadow-1-strong" width="60">
                              </li>
                        </div>
                        {% endif %}
                        {% if message.sender != user %}
                        <textarea id ='senderSide'style="display:none;"  name="sendleftSide">{{message.sender}}</textarea>
                        <textarea id ='receiverSide'style="display:none;"  name="sendleftSide">{{singleUser.user_id}}</textarea>
                        <div>
                            <li class="d-flex justify-content-between mb-4">
                                <div class="card mask-custom w-100">
                                  <div class="card-header d-flex justify-content-between p-3"
                                    style="border-bottom: 1px solid rgba(255,255,255,.3);">
                                    <p class="fw-bold mb-0">{{message.sender}}</p>
                                    <p class="text-light small mb-0"><i class="far fa-clock"></i> {{message.create_at}}</p>
                                  </div>
                                  <div class="card-body">
                                    <p class="mb-0">
                                        {{message.text}}
                                    </p>
                                  </div>
                                </div>
                                <img src="{{message.profile_pic}}" alt="avatar"
                                  class="rounded-circle d-flex align-self-start ms-3 shadow-1-strong" width="60">
                              </li>
                        </div>
                        {%else%}
                        <textarea id ='senderSide'style="display:none;"  name="sendleftSide">{{message.sender}}</textarea>
                        <textarea id ='receiverSide'style="display:none;"  name="sendleftSide">{{singleUser.user_id}}</textarea>
                        <div>
                            <li class="d-flex justify-content-between mb-4">
                                <div class="card mask-custom w-100">
                                  <div class="card-header d-flex justify-content-between p-3"
                                    style="border-bottom: 1px solid rgba(255,255,255,.3);">
                                    <p class="fw-bold mb-0">{{message.sender}}</p>
                                    <p class="text-light small mb-0"><i class="far fa-clock"></i> {{message.create_at}}</p>
                                  </div>
                                  <div class="card-body">
                                    <p class="mb-0">
                                        {{message.text}}
                                    </p>
                                  </div>
                                </div>
                                <img src="{{message.profile_pic}}" alt="avatar"
                                  class="rounded-circle d-flex align-self-start ms-3 shadow-1-strong" width="60">
                              </li>
                        </div>
                        {% endif %}
                    <!-- <div><b> {{message.sender}}&nbsp;[{{message.create_at}}]: &nbsp;</b> {{message.text}} </div> -->
                    {% endfor %}
                
                    
                </div>
                </div>
                <li class="mb-3">
                    <div class="form-outline form-white">
                        <textarea id ='receiverSide'style="display:none;"  name="sendleftSide">{{singleUser.user_id}}</textarea>

                        
                      <form id="message_input_form">
                        <textarea id="message_input" class="form-control" id="textAreaExample3" rows="4"></textarea>
                        <label class="form-label" for="textAreaExample3">Message</label>
                        <!-- <input type="text" id="message_input" placeholder="ENTER YOUR MESSAGE HERE"> -->
                        
                        
                        <!-- <input type="text" id="message_input" placeholder="ENTER YOUR MESSAGE HERE"> -->
                        <button type="submit" class="btn btn-light btn-lg btn-rounded ">send</button>
                    </form>
                    </div>
                  </li>
              </ul>
      
            </div>
      
          </div>
      
        </div>
      </section>
      
          
    

{% endblock %}