{% extends '_layout.html' %}
{% block body %}
<style>
    #main {
    width: 200px;
    border: 1px dotted black;
    }
    h1 {
    margin: 0;
        display: inline-block;
    }
    button {
    float: right;
    }

</style>
<style>
    body {
background-color: #fbfbfb;
}
@media (min-width: 991.98px) {
main {
padding-left: 240px;
}
}

/* Sidebar */
.sidebar {
position: fixed;
top: 0;
bottom: 0;
left: 0;
padding: 58px 0 0; /* Height of navbar */
box-shadow: 0 2px 5px 0 rgb(0 0 0 / 5%), 0 2px 10px 0 rgb(0 0 0 / 5%);
width: 240px;
z-index: 600;
}

@media (max-width: 991.98px) {
.sidebar {
width: 100%;
}
}
.sidebar .active {
border-radius: 5px;
box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
}

.sidebar-sticky {
position: relative;
top: 0;
height: calc(100vh - 48px);
padding-top: 0.5rem;
overflow-x: hidden;
overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}
</style>

<style> 
    .newspaper {
      column-count: 1;
      column-gap: 40px;
      column-rule-style: solid;
      column-rule-color: #ff0000;
    }
    </style>
    </head>
    <body>
    
    
<!-- <section class="vh-100 bg-image" style="background-image: url('https://media4.giphy.com/media/wJ5QArIrc2DJvnJcYQ/giphy.gif?cid=790b76111bf9183a97f5d2f3205f29bcb6fee84727b04905&rid=giphy.gif&ct=g');"> -->
    <section class="vh-100 bg-image" style="background-image: url('https://media0.giphy.com/media/2kUt993krujHRni1C1/giphy.gif?cid=790b7611db8ae185977f0b977f7c41a7b06596fce4039ef8&rid=giphy.gif&ct=g');">
        <div class="mask d-flex align-items-center h-100 gradient-custom-3">
          <div class="container h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
              <div class="col-12 col-md-9 col-lg-10 col-xl-10">
                <div class="card" style="border-radius: 15px;">
                  <div class="card-body p-10">
                    <style>
                      .scroll-bar {
                        overflow:scroll;
                        height:700px;
                      }
                    </style>
                    <div class="scroll-bar scrollbar-secondary">
                        <h1>The column-rule-color Property</h1>
                        <p>The column-rule-color property sets the color of the rule between the columns of the element:</p>
                        
                        <div class="newspaper" >
                        Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi. Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim placerat facer possim assum. Typi non habent claritatem insitam; est usus legentis in iis qui facit eorum claritatem. Investigationes demonstraverunt lectores legere me lius quod ii legunt saepius.
                        </div>
                        <body>
                            <div>
                                <a href="/following/{{user}}" > following</a>
                                <a href="/followers/{{user}}"> followers</a>
                            </div> 
                        </body>

                        <body>
                            <h1> hello friend {{user}}</h1>
                            
                            <form action="/logout" method="post"> 
                        
                                
                                <button type="submit">Logout</button>
                                
                            </form>
                        
                            {% for users in allUsers %}
                                <div id="main">
                                    <h1> <a href="/gamer/{{ users.username }}"> {{users.username}} </a></h1>
                                    
                                    <!-- <form action="/dashboard" method="post"> 
                                        
                                        
                                        <input type="submit" name="addFollow" value={{users.username}}>
                                        
                                    </form> -->
                                </div>
                                {% if singleUser.user_id > users.user_id %}
                                    <form action="/chat">
                                        <textarea  name="username">{{users.user_id}}</textarea>
                                        <textarea  name="room">{{user}}{{users.username}}</textarea>
                                        <button type="submit">chat</button>
                                    </form>
                                {%else%}
                                    <form action="/chat">
                                        <textarea  name="username">{{users.user_id}}</textarea>
                                        <textarea  name="room">{{users.username}}{{user}}</textarea>
                                        <button type="submit">chat</button>
                                    </form>
                                {% endif %}
                                

                                
                                
                                
                            {% endfor %}
                            <a href="/game">
                                <button>play game</button>
                            </a>
                        </body>
                    </div>
                        
                  </div>
                </div>
            </div>      
        </div>          
    </section >             
<!-- </section> -->

{% endblock %}
