{% extends '_layout.html' %}
{% block body %}
<style>
    #main {
    width: 200px;
    border: 1px dotted black;
    }
    h1 {
    margin: 0;
        display: inline-block;
    }
    button {
    float: right;
    }

</style>


<style> 
    .newspaper {
      column-count: 1;
      column-gap: 40px;
      column-rule-style: solid;
      column-rule-color: #ff0000;
    }
    </style>
    </head>
    <body class="gradient-custom-2" style="background-image: url('https://media4.giphy.com/media/wJ5QArIrc2DJvnJcYQ/giphy.gif?cid=790b76111bf9183a97f5d2f3205f29bcb6fee84727b04905&rid=giphy.gif&ct=g');">

        <section class="" >
            <div class="container py-5 h-100">
              <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col col-lg-9 col-xl-7">
                  <div class="card">
                    <div class="rounded-top text-white d-flex flex-row" style="background-color: #000; height:200px;">
                      <div class="ms-4 mt-5 d-flex flex-column" style="width: 150px;">
                        <img src="{{singleUser.profile_pic}}"
                          alt="Generic placeholder image" class="img-fluid img-thumbnail mt-4 mb-2"
                          style="width: 150px; z-index: 1">
                        <button type="button" class="btn btn-outline-dark" data-mdb-ripple-color="dark"
                          style="z-index: 1;">
                          Edit profile
                        </button>
                      </div>
                      <div></div>
                      <div class="ms-3" style="margin-top: 130px;">
                        <h5>{{user}}</h5>
                        <p>Gamer</p>
                      </div>
                    </div>
                    <div class="p-4 text-black" style="background-color: #f8f9fa;">
                      <div class="d-flex justify-content-end text-center py-1">
                        
                        <div class="px-3">
                          
                          
                          <a href="/followers/{{user}}"> 
                            <p class="mb-1 h5">1026</p>
                            <p class="small text-muted mb-0">Followers</p>
                          </a>
                        </div>
                        <div>
                          
                          <!-- <p class="small text-muted mb-0">Following</p> -->
                          <a href="/following/{{user}}" > 
                            <p class="mb-1 h5">478</p>
                            <p class="small text-muted mb-0">Following</p>
                          </a>
                        </div>
                      </div>
                    </div>
                    <div class="card-body p-4 text-black">
                      <div class="mb-5">
                        <p class="lead fw-normal mb-1">About</p>
                        <div class="p-4" style="background-color: #f8f9fa;">
                          <p class="font-italic mb-1">Web Developer</p>
                          <p class="font-italic mb-1">Lives in New York</p>
                          <p class="font-italic mb-0">Photographer</p>
                        </div>
                      </div>
                      <div class="d-flex justify-content-between align-items-center mb-4">
                        <p class="lead fw-normal mb-0">Where To Next</p>
                        
                      </div>
                      <div class="row g-2">
                        <div class="col mb-2">
                            <!-- <img src="https://mdbcdn.b-cdn.net/img/Photos/Lightbox/Original/img%20(112).webp"
                              alt="image 1" class="w-100 rounded-3"> -->
                            <div class="bg-image hover-overlay hover-zoom hover-shadow ripple">
                                <img src="https://mdbcdn.b-cdn.net/img/Photos/Lightbox/Original/img%20(112).webp" class="w-100" />
                                <a href="/game">
                                <div class="mask" style="background-color: rgba(57, 192, 237, 0.2)">
                                    <div class="d-flex justify-content-center align-items-center h-100">
                                        <p class="text-white mb-0">Play Game</p>
                                    </div>
                                </div>
                                </a>
                            </div>
                        </div>
                        <div class="col mb-2">
                            <!-- <img src="https://mdbcdn.b-cdn.net/img/Photos/Lightbox/Original/img%20(112).webp"
                              alt="image 1" class="w-100 rounded-3"> -->
                            <div class="bg-image hover-overlay hover-zoom hover-shadow ripple">
                                <img src="https://mdbcdn.b-cdn.net/img/Photos/Lightbox/Original/img%20(107).webp" class="w-100" />
                                <a href="/chat/{{singleUser.user_id}}/{{user}}{{user}}" class="d-flex justify-content-between link-light">
                                    
                                    <div class="mask" style="background-color: rgba(57, 192, 237, 0.2)">
                                        <div class="d-flex justify-content-center align-items-center h-100">
                                            <p class="text-white mb-0">Chat</p>
                                        </div>
                                    </div>
                                    <form style="display: none;" id="chatForm" action="/">
                                        <textarea  style="display: none;" name="username">{{user}}</textarea>
                                        <textarea style="display: none;" name="room">{{user}}{{user}}</textarea>
                                    </form>
                                    
                                </a>
                                
                            </div>
                        </div>
                        
                      </div>
                      <div class="row g-2">
                        <div class="col">
                          <img src="https://mdbcdn.b-cdn.net/img/Photos/Lightbox/Original/img%20(108).webp"
                            alt="image 1" class="w-100 rounded-3">
                        </div>
                        <div class="col">
                          <img src="https://mdbcdn.b-cdn.net/img/Photos/Lightbox/Original/img%20(114).webp"
                            alt="image 1" class="w-100 rounded-3">
                        </div>
                      </div>
                    </div>
                    
                  </div>
                </div>
              </div>
            </div>
          </section>
    </body>
    
<!-- <section class="vh-100 bg-image" style="background-image: url('https://media4.giphy.com/media/wJ5QArIrc2DJvnJcYQ/giphy.gif?cid=790b76111bf9183a97f5d2f3205f29bcb6fee84727b04905&rid=giphy.gif&ct=g');"> -->
    <!-- <section class="vh-100 bg-image" style="background-image: url('https://media0.giphy.com/media/2kUt993krujHRni1C1/giphy.gif?cid=790b7611db8ae185977f0b977f7c41a7b06596fce4039ef8&rid=giphy.gif&ct=g');">
        <div class="mask d-flex align-items-center h-100 gradient-custom-3">
          <div class="container h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
              <div class="col-12 col-md-9 col-lg-10 col-xl-10">
                <div class="card" style="border-radius: 15px;">
                  <div class="card-body p-10">
                    <style>
                      .scroll-bar {
                        overflow:scroll;
                        height:700px;
                      }
                    </style>
                    <div class="scroll-bar scrollbar-secondary">
                        <h1>The column-rule-color Property</h1>
                        <p>The column-rule-color property sets the color of the rule between the columns of the element:</p>
                        
                        <div class="newspaper" >
                        Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi. Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim placerat facer possim assum. Typi non habent claritatem insitam; est usus legentis in iis qui facit eorum claritatem. Investigationes demonstraverunt lectores legere me lius quod ii legunt saepius.
                        </div>
                        <body>
                            <div>
                                <a href="/following/{{user}}" > following</a>
                                <a href="/followers/{{user}}"> followers</a>
                            </div> 
                        </body>

                        <body>
                            <h1> hello friend {{user}}</h1>
                            
                            <form action="/logout" method="post"> 
                        
                                
                                <button type="submit">Logout</button>
                                
                            </form>
                        
                            {% for users in allUsers %}
                                <div id="main">
                                    <h1> <a href="/gamer/{{ users.username }}"> {{users.username}} </a></h1>
                                    
                                     <form action="/dashboard" method="post"> 
                                        
                                        
                                        <input type="submit" name="addFollow" value={{users.username}}>
                                        
                                    </form> -->
                                <!-- </div>
                                {% if singleUser.user_id > users.user_id %}
                                    <form action="/chat">
                                        <textarea  name="username">{{users.user_id}}</textarea>
                                        <textarea  name="room">{{user}}{{users.username}}</textarea>
                                        <button type="submit">chat</button>
                                    </form>
                                {%else%}
                                    <form action="/chat">
                                        <textarea  name="username">{{users.user_id}}</textarea>
                                        <textarea  name="room">{{users.username}}{{user}}</textarea>
                                        <button type="submit">chat</button>
                                    </form>
                                {% endif %}
                                

                                
                                
                                
                            {% endfor %}
                            <a href="/game">
                                <button>play game</button>
                            </a>
                        </body>
                    </div>
                        
                  </div>
                </div>
            </div>      
        </div>          
    </section >              --> 
<!-- </section> -->

{% endblock %}
