{% extends '_layout.html' %}
    {% block body %}
    <section class="vh-100 bg-image" style="background-image: url('https://media0.giphy.com/media/2kUt993krujHRni1C1/giphy.gif?cid=790b7611db8ae185977f0b977f7c41a7b06596fce4039ef8&rid=giphy.gif&ct=g');">
        <div class="mask d-flex align-items-center h-100 gradient-custom-3">
          <div class="container h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
              <div class="col-12 col-md-9 col-lg-10 col-xl-10">
                <div class="card" style="border-radius: 15px;">
                  <div class="card-body p-10">
                    <style>
                      .scroll-bar {
                        overflow:scroll;
                        height:700px;
                      }
                    </style>
    
                    {% for user_following in followers %}
                        <h1>{{ user_following.username }} </h1>
                        <form action="/gamer/{{ user_following.username }}" method="post"> 
                                
                                
                            <input type="submit" name="addFollow" value={{user_following.username}}>
                        
                        </form>
                    {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </section>
        
    {% endblock %} 